

<div class="button-container">
  <button mat-raised-button (click)="openAddDialog()" class="button">
    Ajouter un avocat
    <mat-icon>person_add</mat-icon>
  </button>
  <button mat-raised-button (click)="openExcelDialog()" class="button">
    Importer / exporter
    <mat-icon>file_copy</mat-icon>
  </button>
</div>


<table mat-table [dataSource]="this.lawyers$" class="mat-elevation-z8" matSort (matSortChange)="announceSortChange($event)" >

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <!-- <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container> -->

  <!-- Name Column -->
  <ng-container matColumnDef="nom">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by nom"> Nom </th>
    <td mat-cell *matCellDef="let element"> {{element.value.nom}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="prenom">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="prenom"> Prénom </th>
    <td mat-cell *matCellDef="let element"> {{element.value.prenom}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="email" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header="email"> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.value.email}} </td>
  </ng-container>

    <!-- Group Column -->
    <ng-container matColumnDef="group" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header="group"> Groupe </th>
      <td mat-cell *matCellDef="let element"> {{element.value.group}} </td>
    </ng-container>

    <!-- Jours obligatoires de formations Column -->
    <ng-container matColumnDef="formationDay" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header="formationDay"> Jours obligatoires</th>
        <td mat-cell *matCellDef="let element"> {{this.formationService.isGroupParticularity(element.value.group)}} </td>
    </ng-container>

    <!-- Jours effectués de formations Column -->
    <ng-container matColumnDef="formationDayDo" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header="formationDayDo"> Jours effectués</th>
        <td mat-cell *matCellDef="let element">
          <app-spin-box
          [value]="element.value.nbr"
          [lawyerId]="element.type"
          ></app-spin-box></td>
    </ng-container>

    <!-- update Column -->
    <ng-container matColumnDef="update" stickyEnd>
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element" >
        <mat-icon mat-raised-button (click)="openUpdateDialog(element.type, element.value.nom, element.value.prenom, element.value.email, element.value.group)"> create </mat-icon>
      </td>
    </ng-container>

  <!-- delete Column -->
    <ng-container matColumnDef="trash" stickyEnd>
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon class="trash"(click)="this.removeUser(element.type)"> delete </mat-icon>
      </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


</table>


