

<div class="button-container">
  <button mat-raised-button (click)="openAddDialog()" class="button">
    Ajouter un avocat
    <mat-icon>person_add</mat-icon>
  </button>
  <button mat-raised-button (click)="openExcelDialog()" class="button">
    Importer / exporter
    <mat-icon>file_copy</mat-icon>
  </button>
  <button mat-raised-button [style.background-color]="SatisfyListMode ? 'green' : ''"  (click)="generateSatisfyList()" class="button">
    <mat-icon>playlist_add_check</mat-icon>
  </button>
  <button mat-raised-button (click)="refreshHours()" class="button">
    <mat-icon>refresh</mat-icon>
  </button>
</div>


<table mat-table [dataSource]="this.sortedData" class="mat-elevation-z8" matSort (matSortChange)="sortData($event)" >

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <!-- <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container> -->

  <!-- Name Column -->
  <ng-container matColumnDef="nom">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="nom" sortActionDescription="Sort by nom"> Nom </th>
    <td mat-cell *matCellDef="let element">
     <!-- <mat-icon *ngIf="this.isMandatoryFormation(element)" >check_circle</mat-icon> -->
      {{element.value.nom}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="prenom">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="prenom"> Prénom </th>
    <td mat-cell *matCellDef="let element"> {{element.value.prenom}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="email" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header="email"> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.value.email}} </td>
  </ng-container>

    <!-- Group Column -->
    <ng-container matColumnDef="group" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header="group"> Groupe </th>
      <td mat-cell *matCellDef="let element"> {{element.value.group}} </td>
    </ng-container>

    <!-- Jours obligatoires de formations Column -->
    <ng-container matColumnDef="formationDay" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header="formationDay"> Heures obligatoires</th>
        <td mat-cell *matCellDef="let element"> {{element.value.mandatoryHours}} </td>
    </ng-container>

        <!-- Jours obligatoires de formations groupe -->
        <ng-container matColumnDef="formationDayGroup" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header="formationDayGroup"> Heures obligatoires groupe</th>
          <td mat-cell *matCellDef="let element"> {{element.value.mandatoryHoursGroup}} </td>
      </ng-container>

    <!-- Jours effectués de formations Column -->
    <ng-container matColumnDef="formationDayDo" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header="formationDayDo"> Heures effectuées</th>
        <td mat-cell *matCellDef="let element">
          <app-spin-box
          [value]="element.value.nbr"
          [lawyerId]="element.type"
          [isReportedHours]="false"
          [isGroupHours]="false"
          ></app-spin-box></td>
    </ng-container>

        <!-- Jours effectués de formations Column -->
        <ng-container matColumnDef="formationDayGroupDo" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header="formationDayGroupDo"> Heures groupe effectuées</th>
          <td mat-cell *matCellDef="let element">
            <app-spin-box
            [value]="element.value.nbrGroup"
            [lawyerId]="element.type"
            [isReportedHours]="false"
            [isGroupHours]="true"
            ></app-spin-box></td>
      </ng-container>

        <!-- Jours reportés de formations Column -->
        <ng-container matColumnDef="formationHoursReport" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header="formationHoursReport"> Heures reportées</th>
          <td mat-cell *matCellDef="let element">
            <app-spin-box
            [value]="element.value.nbrReport"
            [lawyerId]="element.type"
            [backgroundColor]="false"
            [isReportedHours]="true"
            [isGroupHours]="false"
            ></app-spin-box></td>
      </ng-container>

              <!-- Jours reportables de formations Column -->
              <ng-container matColumnDef="formationHoursReportable" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header="formationHoursReportable"> Heures reportables</th>
                <td mat-cell *matCellDef="let element">
                  <div *ngIf="element.value.nbr > 20">
                    {{element.value.nbr - element.value.mandatoryHours  | number: '1.0-1'}}
                  </div>
            </ng-container>

    <!-- formation list Column -->
    <ng-container matColumnDef="formationList" stickyEnd>
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element" >
        <mat-icon mat-raised-button (click)="openInformationDialog(element.type, element.value.nom, element.value.prenom, element.value.email, element.value.group, element.value.formation, element.value.formationType, element.value.formationLabel, element.value.mandatoryHours, element.value.nbr, element.value.nbrReport, element.value.nbrAdjustHour, element.value.motifAdjustHour, element.value.reportableHours)"> list </mat-icon>
      </td>
    </ng-container>

    <!-- update Column -->
    <ng-container matColumnDef="update" stickyEnd>
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element" >
        <mat-icon mat-raised-button (click)="openUpdateDialog(element.type, element.value.nom, element.value.prenom, element.value.email, element.value.group)"> create </mat-icon>
      </td>
    </ng-container>



  <!-- delete Column -->
    <ng-container matColumnDef="trash" stickyEnd>
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon class="trash"(click)="this.bddCommunicationService.removeUser(element.type)"> delete </mat-icon>
      </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


</table>


