.title
{
  text-align: center;
}
button:disabled
{
  background-color: grey;
  color: black;
  opacity: 35%;
}



.checkbox-container
{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto 0 auto;
}

.form-group-checkbox
{
  justify-content: center;
}

@media screen and (min-width: 0px) and (max-width: 800px)
{

  .button-form
{
  width: 40%;
  margin: 0 auto 0 auto;
  margin-top: 2rem;
}

  .form-group
  {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;

    input
    {
      width: 70%;
      margin: 0 auto 0 auto;
      border-radius: 9999px;
    }
  }

}

@media screen and (min-width: 800px) and (max-width: 2460px)
{

  .button-form
{
  width: 30%;
  margin: 0 auto 0 auto;
  margin-top: 2rem;
}

  .form-group
  {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;

    input
    {
      width: 40%;
      margin: 0 auto 0 auto;
      border-radius: 9999px;
    }
  }

}


@media screen and (min-width: 2460px)
{

  .button-form
{
  width: 30%;
  margin: 0 auto 0 auto;
  margin-top: 2rem;
}

  .form-group
  {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;

    input
    {
      width: 30%;
      margin: 0 auto 0 auto;
      border-radius: 9999px;
    }
  }

}
