header
{
  width: 100%;
  height: 100vh;

  img
  {
    width: 100%;
    height: 105vh;
    position: absolute;
    object-fit: cover;
    z-index: 0;
    background: linear-gradient(
 rgba(0, 0, 0, 0.40),
 rgba(0, 0, 0, 0.40)
 ),url(../../../assets/img/palais.jpg);
 background-size:cover;
 background-repeat:no-repeat;
  }

  .title
  {
    width: 100%;
    height: 100vh;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    z-index: 1;
    position: absolute;

    .title1
    {
      height: 14vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .title2
    {
      height: 30vh;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 550px)
{
}
