<!-- Header Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<header id="header" #home>
  <img/>
  <app-menu [sticky]="sticky" [menuList]="menuListTmp"></app-menu>
  <div class="title">
    <div class="title1">
      <h1 class="heading">Gestion de la formation des avocats</h1>
      <div style="height: 2vh"></div>
      <h2 class="heading">{{ laDate | date: 'mediumDate'}}</h2>
      <h2 class="heading">Barreau de Tours</h2>
    </div>
    <div class="title2"></div>
  </div>
</header>

<!-- About Section
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->



<app-section [list]="menuListTmp"> </app-section>

<!-- Team Section
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<section #list id="team"></section>

<mat-tab-group style="margin-top: 10vh">
  <mat-tab label="Tableau">
    <app-table ></app-table>
  </mat-tab>
  <mat-tab label="Formation de l'ordre">
    <app-formation></app-formation>
  </mat-tab>
  <mat-tab label="Trombinoscope">
    <app-trombinoscope></app-trombinoscope>
  </mat-tab>
</mat-tab-group>

<!-- Footer Section
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="script.js"></script>

<footer>
  <div class="container" style="margin: 0 auto 0 auto">
    <div class="nine columns">
      <p class="mx-12 italic text-center my-6">
        Si vous avez des questions n’hésitez pas à nous contacter !
      </p>
      <p class="mx-16 italic text-center mt-6">Barreau de Tours</p>
      <p class="mx-16 italic text-center mb-6">
        Palais de Justice, 2 place Jean Jaurès, 37000 Tours
      </p>

      <div
        class="flex italic mx-12 text-center my-6 justify-center items-center"
      >
        <a href="tel:+332 47 05 61 64">02 47 05 61 64</a>
      </div>

      <p class="mx-16 italic text-center my-20">
        Made <i class="material-icons" style="color: #b80f0a">by</i> by Pierre B
      </p>
    </div>
  </div>
</footer>
