<router-outlet></router-outlet>
<!DOCTYPE html>
<head>
<meta charset = "UTF-8">
<base href="tabletest.component.html">
<link href="tabletest.component.scss">
</head>
<body>
    <div>
        <p>test</p>
        
            <tr *ngFor="let item of tableau">
                <td>{{item.Avocat}}</td>
                <td [ngStyle]="{ backgroundColor: item.NbrDeJourDeFormation > 4 ? 'green' : 'red' }">{{item.NbrDeJourDeFormation}}</td>
                <td>{{item.specialite}}</td>
            </tr>
    
    </div>
</body>
