<div mat-dialog-actions style="justify-content: right;">
<mat-icon style="cursor: pointer" (click)="onNoClick()">close</mat-icon>
</div>
<mat-tab-group>
  <mat-tab label="Importer">
    <h1 mat-dialog-title>Importer un fichier XLSX</h1>
    <div mat-dialog-content>
      <app-import-excel></app-import-excel>
    </div>
  </mat-tab>
  <mat-tab label="Exporter">

    <h1 mat-dialog-title>Exporter un fichier XLSX</h1>
    <div mat-dialog-content>
      <app-export-excel></app-export-excel>
    </div>
  </mat-tab>
<!--   <mat-tab label="Importer des informations">

    <h1 mat-dialog-title>Import d'informations</h1>
    <div mat-dialog-content>
      <app-import-excel-informations></app-import-excel-informations>
    </div>
  </mat-tab> -->

</mat-tab-group>
