<input type="file" (change)="onChange($event)" #inputFile> <button (click)="removeData()">Remove Data</button>
<div *ngIf="isExcelFile === false">
Ceci n'est pas un fichier excel </div>
    <span *ngIf="spinnerEnabled" class="k-i-loading k-icon"></span>


    <ng-container *ngIf="dataSheet">

      <table >
        <th *ngFor="let key of keys">
          {{key}}
        </th>
        <tr *ngFor="let item of dataSheet | async">
          <td *ngFor="let key of keys">
            {{item[key]}}
          </td>
        </tr>
      </table>

    </ng-container>
