<div mat-dialog-actions style="justify-content: right;">
  <mat-icon style="cursor: pointer" (click)="onNoClick()">close</mat-icon>
  </div>
<h1 mat-dialog-title>Ajout d'une formation</h1>
<div mat-dialog-content>

<p>
  <mat-form-field appearance="fill">
    <mat-label>Nom de la formation</mat-label>
    <input matInput required [(ngModel)]="data.formationName">
  </mat-form-field>
</p>
<p matColumnDef="date">
    <mat-form-field appearance="fill">
      <mat-label>Entrez les dates</mat-label>
      <mat-date-range-input [formGroup]="this.range" [rangePicker]="picker" >
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-hint>JJ/MM/AAAA – JJ/MM/AAAA</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker" ></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">La date de départ est invalide</mat-error>
      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">La date de fin est invalide</mat-error>
    </mat-form-field>
</p>
<p>
  <mat-form-field appearance="fill">
    <mat-label>Lieu</mat-label>
    <input matInput required [(ngModel)]="data.lieu">
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="fill">
    <mat-label>Durée</mat-label>
    <input type="number" matInput required [(ngModel)]="data.duration">
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="fill">
    <mat-label>groupe</mat-label>
    <mat-select [(ngModel)]="data.groupe" multiple>
      <mat-option value="Mineurs">Mineurs</mat-option>
      <mat-option value="Pénal">Pénal</mat-option>
      <mat-option value="JLD-HO">JLD-HO</mat-option>
      <mat-option value="Droit des étrangers">Droit des étrangers</mat-option>
      <mat-option value="Déontologie">Déontologie</mat-option>
      <mat-option value="Spécialisation">Spécialisation</mat-option>
    </mat-select>
  </mat-form-field>
</p>
<p>
  <mat-form-field class="fill">
    <mat-label>Ajouter des participants</mat-label>
    <mat-chip-grid #chipGrid aria-label="Ajout de participant">
     <!--  <mat-chip-row *ngFor="let participant of this.lawyer" (removed)="remove(participant)">
        {{participant.value.nom}}
        <button matChipRemove [attr.aria-label]="'remove ' + participant">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row> -->
    </mat-chip-grid>
    <!-- ajouter : (matChipInputTokenEnd)="add($event)" dans le input ci-dessous pour remettre en fonction add
  -->
    <input placeholder="Ajouter un participant ..." #lawyerInput [formControl]="lawyerCtrl"
      [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let participant of filteredLawyers | async" [value]="participant">
        {{participant.value.nom}} {{participant.value.prenom}}
      </mat-option>
    </mat-autocomplete>
    <mat-error>Cet avocat n'est pas reconnu</mat-error>
    <mat-hint>Sélectionnez un avocat dans la liste</mat-hint>
  </mat-form-field>
</p>
<p>
    <mat-chip-row *ngFor="let participant of this.lawyer" (removed)="remove(participant)">
      {{participant.value.nom}} {{participant.value.prenom}}
      <button matChipRemove [attr.aria-label]="'remove ' + participant">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
</p>
<p style="margin-top: 1.4em;">
  <ng-container *ngIf="!this.data.lieu || !this.data.formationName || !this.data.duration || !this.isAParticipant || !this.range.value.start || !this.range.value.end" mat-dialog-actions>
    <button mat-raised-button disabled>Ajouter la formation</button>
  </ng-container>
  <ng-container *ngIf="this.data.lieu && this.data.formationName && this.data.duration && this.isAParticipant && this.range.value.start &&this.range.value.end" mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="addGlobalFormation()" [mat-dialog-close]="data"
      cdkFocusInitial>Ajouter la formation</button>
  </ng-container>
</p>
</div>



