<div mat-dialog-actions style="justify-content: right;">
  <mat-icon style="cursor: pointer" (click)="onNoClick()">close</mat-icon>
  </div>
<h1 mat-dialog-title>Ajout d'une formation</h1>
<div mat-dialog-content>

<p>
  <mat-form-field appearance="fill">
    <mat-label>Nom de la formation</mat-label>
    <input matInput [(ngModel)]="data.formationName">
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="fill">
    <mat-label>Durée</mat-label>
    <input matInput [(ngModel)]="data.duration">
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="fill">
    <mat-label>participant</mat-label>
    <mat-select [(ngModel)]="data.participant" multiple>
      <mat-option value="Mineurs">Mineurs</mat-option>
      <mat-option value="Pénal">Pénal</mat-option>
      <mat-option value="JLD-HO">JLD-HO</mat-option>
      <mat-option value="Déontologie">Déontologie</mat-option>
      <mat-option value="Spécialisation">Spécialisation</mat-option>
    </mat-select>
  </mat-form-field>
</p>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial (click)="addUser()">Ok</button>
</div>
