<div mat-dialog-actions style="justify-content: right">
  <mat-icon style="cursor: pointer" (click)="onNoClick()">close</mat-icon>
</div>

<h1 mat-dialog-title>
  Modification du profil de {{ data.prenom }} {{ data.nom }}
</h1>

<!-- <input type="file" class="file-input"
       (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">

   {{fileName || "No file uploaded yet."}}

    <button mat-mini-fab color="primary" class="upload-btn"
      (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
    </button>
</div> -->

<p>
  <img class="image" [src]="'../../../../assets/img/avocats/'+data.nom+'_'+data.prenom+'.png'" />
</p>


<div mat-dialog-content>

  <p>
    <mat-form-field appearance="fill" class="left-container">
      <mat-label>Nom</mat-label>
      <input matInput [(ngModel)]="data.nom" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Prénom</mat-label>
      <input matInput [(ngModel)]="data.prenom" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill" class="left-container">
      <mat-label>Serment</mat-label>
      <input matInput [(ngModel)]="data.serment" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="left-container">
      <mat-label>Case Palais</mat-label>
      <input type="number" matInput [(ngModel)]="data.case" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>titre</mat-label>
      <input matInput [(ngModel)]="data.titre" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>cabinet</mat-label>
      <input matInput [(ngModel)]="data.cabinet" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill" class="left-container">
      <mat-label>Adresse</mat-label>
      <input matInput [(ngModel)]="data.adresse" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>cabinet secondaire</mat-label>
      <input matInput [(ngModel)]="data.cabinetSecondaire" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill" class="left-container">
      <mat-label>Ville</mat-label>
      <input matInput [(ngModel)]="data.ville" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>CP</mat-label>
      <input matInput [(ngModel)]="data.cp" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill" class="left-container">
      <mat-label>Téléphone</mat-label>
      <input matInput [(ngModel)]="data.tel" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="left-container">
      <mat-label>e-mail</mat-label>
      <input matInput [(ngModel)]="data.email" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Site Web</mat-label>
      <input matInput [(ngModel)]="data.site" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Spécialité</mat-label>
      <input matInput [(ngModel)]="data.specialite" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill" class="left-container">
      <mat-label>Compétence 1</mat-label>
      <input matInput [(ngModel)]="data.domaine1" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="left-container">
      <mat-label>Compétence 2</mat-label>
      <input matInput [(ngModel)]="data.domaine2" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Compétence 3</mat-label>
      <input matInput [(ngModel)]="data.domaine3" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill" class="left-container">
      <mat-label>Langue 1</mat-label>
      <input matInput [(ngModel)]="data.langue1" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="left-container">
      <mat-label>Langue 2</mat-label>
      <input matInput [(ngModel)]="data.langue2" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Langue 3</mat-label>
      <input matInput [(ngModel)]="data.langue3" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>mediateur</mat-label>
      <input matInput [(ngModel)]="data.mediateur" />
    </mat-form-field>
  </p>









  <div mat-dialog-actions style="width: 100%; justify-content: center;">
  <button
    mat-raised-button
    color="primary"
    class="button"
    [mat-dialog-close]="data"
    cdkFocusInitial
    (click)="updateUser()"
  >
    Valider
  </button>
</div>
</div>

