<div mat-dialog-actions style="justify-content: right;">
  <mat-icon style="cursor: pointer" (click)="onNoClick()">close</mat-icon>
  </div>

<p>Date : {{this.data.startTMP}} - {{this.data.endTMP}}</p>

<p>Durée de la formation : {{this.data.duration}} heures</p>

<table mat-table [dataSource]="this.dataTable" class="mat-elevation-z8">


  <!-- Group Column -->
  <ng-container matColumnDef="participant">
    <th mat-header-cell *matHeaderCellDef > Participant </th>
    <td mat-cell *matCellDef="let element" style="cursor: pointer;"> {{element.value.nom}} {{element.value.prenom}}</td>
  </ng-container>

    <!-- trash Column -->
    <ng-container matColumnDef="trash">
      <th mat-header-cell *matHeaderCellDef > Supprimer </th>
      <td mat-cell *matCellDef="let element">  <mat-icon class="trash"> delete </mat-icon> </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


</table>

<p>
<mat-form-field class="fill">
  <mat-label>Ajouter des participants</mat-label>
  <mat-chip-grid #chipGrid aria-label="Ajout de participant">
   <!--  <mat-chip-row *ngFor="let participant of this.lawyer" (removed)="remove(participant)">
      {{participant.value.nom}}
      <button matChipRemove [attr.aria-label]="'remove ' + participant">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row> -->
  </mat-chip-grid>
  <input placeholder="Ajouter un participant ..." #lawyerInput [formControl]="lawyerCtrl"
    [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
    (matChipInputTokenEnd)="add($event)"/>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let participant of filteredLawyers | async" [value]="participant">
      {{participant.value.nom}} {{participant.value.prenom}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
</p>
<p>
  <mat-chip-row *ngFor="let participant of this.lawyer" (removed)="remove(participant)">
    {{participant.value.nom}} {{participant.value.prenom}}
    <button matChipRemove [attr.aria-label]="'remove ' + participant">
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-chip-row>
</p>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial (click)="updateGlobalFormation()">Mettre à jour la formation</button>
</div>
