// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";
/* You can add global styles to this file, and also import other style files */

// light theme : @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// dark them @import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
// dark theme : @import '~@angular/material/prebuilt-themes/purple-green.css';

@import "/node_modules/material-icons/iconfont/filled.scss";
@import "/node_modules/material-icons/iconfont/outlined.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face
{
  font-family: "Nunito";
  src: url("assets/font/Buttler/Butler_Webfont/Butler.woff");
}

body
{
  margin: 0;
  background-color: #f4f5f7;
}

h1
{
  margin: 0;
  font-size: 9vw;
}

h2
{
  margin: 0;
  font-size: 6vw;
  font-style: italic;
}

p
{
  text-align: center;
  font-size: 4vw;
}

a
{
  font-size: 4vw;
}

a:hover
{
  background-color: black;
  color: white;
}

.button-container {
  padding-bottom: 16px;
  margin-top: 10vh;
}

.button + .button {
  margin-left: 8px;
}

.trash
{
    cursor: pointer;
}


@media screen and (min-width: 0) and (max-width: 2460px) and (orientation: landscape)
{
  h1
  {
    font-size: calc((2.8 - 1) * 1.2vw + 1rem);
  }
  h2
  {
    font-size: calc((1.8 - 1) * 1.2vw + 1rem);
    margin: 0;
    font-style: italic;
  }
  p
  {
    font-size: calc((1.2 - 1) * 1.2vw + 1rem);
  }
  li
  {
    font-size: calc((1.2 - 1) * 1.2vw + 1rem);
  }
  a
  {
    font-size: calc((1.2 - 1) * 1.2vw + 1rem);
  }
  a:hover
{
  background-color: black;
  color: white;
}
  i
  {
    font-size: calc((1.8 - 1) * 1.2vw + 1rem) !important;
  }
}

@media screen and (min-width: 0) and (max-width: 2460px) and (orientation: portrait)
{
  h1
  {
    font-size: calc((2.8 - 1) * 1.2vh + 1rem);
  }
  h2
  {
    font-size: calc((1.8 - 1) * 1.2vh + 1rem);
    margin: 0;
    font-style: italic;
  }
  p
  {
    font-size: calc((1.2 - 1) * 1.2vh + 1rem);
  }
  li
  {
    font-size: calc((1.2 - 1) * 1.2vh + 1rem);
  }
  a
  {
    font-size: calc((1.2 - 1) * 1.2vh + 1rem);
  }
  a:hover
{
  background-color: black;
  color: white;
}
  i
  {
    font-size: calc((1.8 - 1) * 1.2vh + 1rem) !important;
  }
}

@media screen and (min-width: 2460px)
{
  h1
  {
    font-size: calc(2.8 * 6rem);
  }
  h2
  {
    font-size: calc(1.8 * 6rem);
    margin: 0;
    font-style: italic;
  }
  p
  {
    font-size: calc(1.2 * 6rem);
  }
  li
  {
    font-size: calc(1.2 * 6rem);
  }
  a
  {
    font-size: calc(1.2 * 6rem);
  }
  a:hover
{
  background-color: black;
  color: white;
}
  i
  {
    font-size: calc(1.8 * 6rem) !important;
  }
}
