<!DOCTYPE html>
<html lang="fr">
<meta charset="UTF-8">
<link rel="style" href="fields.component.css">
<body>
    <form method="post" action="attestation.component.ts">
        <label for ="batonnier">Bâtonnier</label><input type="text" id="batonnier" name="batonnier">
        <br>
        <label for = "name">Nom de l'avocat</label><input type="text" id="name" name="name">
        <br>
        <label for = "surname">Prénom de l'avocat</label><input type="text" id="surname" name="surname">
        <br>
        <label for = "specificformation">intitulé de la formation</label><input type="text" id="specificformation" name="specificformation">
        <br>
        <label for = "signature">signature</label><input type="text" id="signature" name="signature">
        <br> 
        <input type="submit" value="Valider"/>
    </form>
</body>
</html>