<div class="button-container">
  <button mat-raised-button class="button" (click)="openAddOrdreFormationDialog()">
    Ajouter une formation
    <mat-icon>add</mat-icon>
  </button>
</div>


<table mat-table [dataSource]="this.sortedData" class="mat-elevation-z8" matSort (matSortChange)="sortData($event)">

  <!-- Name Column -->
  <ng-container matColumnDef="formationName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="formationName" sortActionDescription="Sort by formationName">
      Formation </th>
    <td mat-cell *matCellDef="let element"> {{element.value.formationName}} </td>
  </ng-container>


  <!-- Symbol Column -->
  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="duration"> Durée </th>
    <td mat-cell *matCellDef="let element"> {{element.value.duration}} </td>
  </ng-container>

  <!-- Group Column -->
  <ng-container matColumnDef="participant">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="participant"> Nombre de participant </th>
    <td mat-cell *matCellDef="let element"> {{element.value.nbrParticipant}} </td>
  </ng-container>

  <ng-container matColumnDef="attestation" >
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary"
      (click)="generatePdf(element.value.participant)">
      <mat-icon >description</mat-icon>
      </button>
    </td>
  </ng-container>

      <!-- update Column -->
      <ng-container matColumnDef="update" stickyEnd>
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element" >
          <mat-icon mat-raised-button (click)="openInformationParticipantDialog(element)" style="cursor: pointer;"> create </mat-icon>
        </td>
      </ng-container>

    <!-- trash Column -->
    <ng-container matColumnDef="trash">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="trash"> Supprimer </th>
      <td mat-cell *matCellDef="let element">  <mat-icon class="trash"(click)="this.removeOrdreFormation(element)"> delete </mat-icon> </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


</table>
